@import "components/footer/footer.module";

.title {
  font-size: 3rem;
  margin-left: 17vw;
}
.headercontainer {
  display: flex;
  flex-direction: row;
  border-bottom: $background 4px solid;
}
.MenuButton {
    width: 12vw;
    height: 5vh;
    margin-left: 12vw;
  border: $background 2px solid;
  border-radius: 2%;


}