@import "MySection.module";

.caption {
  margin-top: 4vh;
  margin-left: 4vw;
}

.container2 {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin-left: 6vw;
  padding-bottom: 3vh;
  border: black solid 2px;
  margin-right: 4vw;
  margin-bottom: 5vh;
  border-radius: 5%;
  box-shadow: #1c1c1c 8px 2px;
}

.img1 {
  margin-left: 28vw;
  margin-top: 4vh;
}

.description {
  margin-left: 4vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.button {
  margin-left: 41vw;
  border: darkred solid 2px;
  box-shadow: #1c1c1c 3px 2px;
  border-radius: 5%;

  font-size: 1.2rem;
  background: red;
  color: white;

}