$img-height: 20vh;
$img-weight: 40vw;
.img1 {
  width: $img-weight;
  height:  $img-height;
}

.img2 {
  width: $img-weight;
  height:  $img-height;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  margin-left: 6vw;
  padding-bottom: 3vh;
}
.container figure {
  width: 40vw;
}

.title {
  margin-left: 6vw;
  font-size: 2rem;
}

.caption {
  margin-top: 2vh;
  font-size: 1.5rem;

}

.description {
  max-width: 90vw;
}