.image {
  width: 85%;
  border: #1c1c1c solid 2px;
  border-radius: 5%;
  box-shadow: #1c1c1c 4px 2px;
  height: 70vh;
  margin-left: 8vw;
  margin-top: 3vh;
}
.caption {
  font-size: 2rem;
  margin-left: 10vw;
  margin-top: 3vh;
  max-width: 80%;
}

.description {
  margin-left: 10vw;
  margin-top: 3vh;
  font-size: 1.5rem;
}

.container {
  padding-bottom: 10vh;
}