@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/GregorianFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MyCustomFont', sans-serif;
}
:lang(ru) {
        font-family: "Bad Script", cursive;
        font-weight: 400;
        font-style: normal;

}