.title {
  font-size: 2rem;
  margin-left: 36vw;
}
.cover {
  width: 80vw;
  height: 40vh;
  margin-left: 10vw;
  border: black 1px solid;
  border-radius: 5%;
  box-shadow: 5px 5px 5px #1c1c1c;
}

.caption {
  margin-left: 20vw;
  font-size: 1.4rem;
  margin-top: 2vh;
}

.container {

  padding-bottom: 10vh;
}