.menuContainer {
  position: absolute;
  background: #1c1c1c;
  color: white;
  width: 51vw;
  height: auto;
  font-size: 2rem;
  left: 50vw;
  animation-name: menu;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  border: white solid 4px;
  border-top: none;
  border-right: none;
  box-shadow: 10px 5px 5px #1c1c1c;
}
.menuContainer li {
  margin-left: 4vw;
}

@keyframes menu {
  from {
    margin-left: 300vw;
  }
  to {
    margin-right: 0;
  }
}