.menuContainer {
  position: absolute;
  background: #1c1c1c;
  color: white;
  width: 50vw;
  height: auto;
  font-size: 2rem;
  left: 50vw;
  animation-name: menu;
  animation-duration: 450ms;
  animation-timing-function: ease-out;
}
.menuContainer li {
  margin-left: 4vw;
}

@keyframes menu {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}